---
---

@import 'constants';
@import 'fonts';

body {
  background: $BACKGROUND;
  margin: 8px 8px 8px;
}

#navbar-mobile {
  display: block;
  z-index: 10;
  position: absolute;
  padding: $PAGE-LATERAL-SPACE/2 $PAGE-LATERAL-SPACE/2 $RESPONSIVE-SPACING/2;

  @include media-query(DESKTOP) {
    display: none;
  }
}

.navbar-hide {
  left: -100vw;
  @include media-query(DESKTOP) {
    left: 0;
  }
}
.navbar-show {
  left: 0;
}

#navbar {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
  transition: left 0.3s linear;
  padding: 30px 0;
  background-color: $TEXT-BACKGROUND;

  @include media-query(DESKTOP) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 10px;
    margin-bottom: $PAGE-LATERAL-SPACE;
    transition: none;
  }

  box-sizing: border-box;

  #hide-menu {
    position: absolute;
    top: $RESPONSIVE-SPACING / 2;
    right: $RESPONSIVE-SPACING / 2;
    @include media-query(DESKTOP) {
      display: none;
    }
  }

  .menu-pages {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-query(DESKTOP) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      justify-content: center;
    }    
  }

  .menu-item {
    display: flex;
    justify-content: center;
  }

  .menu-social {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include media-query(DESKTOP) {
      justify-content: flex-end;
      margin-top: -48px;
      margin-bottom: 48px;
      padding: 0 64px;
    }

    .menu-item {
      padding: 0 8px;
    }
  }

  .menu-pages .menu-item {
    width: 100%;
    text-align: center;

    @include media-query(DESKTOP) {
      margin: 0 8px;
    }
  }

  .menu-hr {
    color: #eee;
    background-color: #222;
    display: block;
    width: 50%;
    height: 2px;
    border: none;
    @include media-query(DESKTOP) {
      display: none;
    }
  }
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;

  @include media-query(DESKTOP) {
    width: 70%;
    padding: 0 64px;
    justify-content: flex-start;
  }

  .logo-text {
    width: 256px;
    font-family: 'Cardo',serif;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #646469;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  #logo-sigla {
    font-size: 30px;
    margin: 0;
    line-height: 1;
  }

  .logo-image {
    width: 110px;
    height: 110px;
    background-image: url('{{ site.baseurl }}/assets/covers/escudo.png');
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .logo-bandera {
    height: 15px;
    margin: 0;
    background-image: url('{{ site.baseurl }}/assets/covers/bandera.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.intro-bar {
  display: none;
  @include media-query(DESKTOP) {
    width: 100%;
    padding: 0 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .intro-bar-item {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 30%;
    height: 170px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .intro-bar-item-title {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    color: $BACKGROUND;
    background: rgba(0,0,0,.5);
    z-index: 1;
  }

  .intro-bar-item-text {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 7%;
    color: $TEXT-COLOR;
    background: $BACKGROUND;
    z-index: 4;
    opacity: 0;
    transition: opacity $TRANSITION-PERIOD*2 linear;

    &:hover {
      opacity: 1;
    }
  }
}

#main-div {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;

  margin: 0 $PAGE-LATERAL-SPACE/2 $PAGE-LATERAL-SPACE/2;
  @include media-query(DESKTOP) {
    margin: 0 $PAGE-LATERAL-SPACE $PAGE-LATERAL-SPACE;
  }

  .video-wrapper-16x9 {
    padding-bottom: 56.25%;
  }

  .video-wrapper-4x3 {
    padding-bottom: 75%;
  }

  .video-wrapper-3x1 {
    padding-bottom: 33%;
  }

  .video-wrapper-wrapper-small {
    max-width: 600px;
    margin: 1rem auto;
  }

  .video-wrapper {
    position: relative;
    margin: 1rem auto;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

#footer-hr {
  margin: $LIST-VERTICAL-SPACING 0;
  width: 100%;
  height: 3px;
  color: $LINK-COLOR-HOVER;
  background-color: #888;
  border: none;
}

.post-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 60px 7%;
  background-color: $TEXT-BACKGROUND;
  margin-bottom: $MENU-VERTICAL-MARGIN;

  @include media-query(DESKTOP) {
    padding: 50px 5%;
  }
}

.sidebar {
  display: none;
  @include media-query(DESKTOP) {
    display: block;
    padding: 0 20px;
    width: 33%;
  }
}

#post {
  @include media-query(DESKTOP) {
    padding: 0 20px;
    width: 66%;
  }

  .post-date {
    margin: 32px 0;
  }

  .quotes {
    width: 90%;
    margin: 0 auto;
    @include media-query(DESKTOP) {
      width: 80%;
      margin: 0 auto;
    }
  }

  audio {
    width: 100%;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 5px;
  }

  .swipebox-gallery {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;

    .swipebox {
      width: 45%;
      @include media-query(DESKTOP) {
        width: 200px;
      }
      margin: $LIST-VERTICAL-SPACING 5px 0;
    }
  }
}

#post-list.post-list-container {
  display: block;
  width: 100%;
  margin-top: 24px;

  .post-list-item {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: $LIST-VERTICAL-SPACING 0;
    border-bottom: 2px solid #000;

    transition: box-shadow $TRANSITION-PERIOD linear;
    box-shadow: none;

    @include media-query(DESKTOP) {
      -webkit-flex-direction: row;
      flex-direction: row;
    }
  }

  .post-image-container {
    width: 100%;
    overflow: hidden;
    max-height: 266px;

    @include media-query(DESKTOP) {
      width: 32%;
      padding: 0;
    }
  }

  .post-image {
    width: 100%;
    height: 100%;
    min-height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .post-title-container {
    display: block;
    box-sizing: border-box;
    padding: 0;

    width: 100%;
    @include media-query(DESKTOP) {
      width: 65%;
      padding: 0 2*$LIST-VERTICAL-SPACING;
    }

    background-color: $TEXT-BACKGROUND;
    
    .post-date {
      border-top: 1px solid $TEXT-COLOR;
    }

    .post-preview {
      padding-top: 20px;
    }
  }
}
