<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
    {% include analytics.html %}
  </head>
  <body>
    {% include navbar.html %}
    <div id="main-div">
      <div class="intro-bar">
        <div class="intro-bar-item" style="background-image: url('{{ site.baseurl }}/assets/covers/antena.jpg');">
          <div class="intro-bar-item-title">control de los medios en méxico</div>
          <div class="intro-bar-item-text">
            Revisión de la situación actual de las telecomunicaciones en México. ¿Cómo nos afectan las prácticas políticas y económicas de control de medios?
          </div>
        </div>

        <div class="intro-bar-item" style="background-image: url('{{ site.baseurl }}/assets/covers/openwrt.jpg');">
          <div class="intro-bar-item-title">usos alternativos de tecnología</div>
          <div class="intro-bar-item-text">
            Maneras en que podemos ser menos dependientes como usuarios de tecnología. Formas de reutilizar aparatos obsoletos o alterarlos para que cumplan otra función.
          </div>
        </div>

        <div class="intro-bar-item" style="background-image: url('{{ site.baseurl }}/assets/covers/imin.jpg');">
          <div class="intro-bar-item-title">esto no es internet</div>
          <div class="intro-bar-item-text">
            Este sitio existe en línea y también en servidores abiertos en varios puntos de la ciudad. Es posible acceder a ellos en hotspots con el nombre: ESTO NO ES INTERNET.
          </div>
        </div>
      </div>

      <div class="post-container">
        <div id="post-list" class="post-list-container">
          {% for post in site.posts %}
          <a class="post-list-item" href="{{ post.url }}">
            <div class="post-image-container">
              {% if post.cover %}
              <div class="post-image" style="background-image: url('{{ site.baseurl }}{{ post.cover }}');"></div>
              {% endif %}
            </div>

            <div class="post-title-container">
              {% assign daymonthyear = post.date | date: "%d %B %Y" %}
              <div class="post-title">{{ post.title }}</div>
              <div class="post-date">{{ daymonthyear }}</div>
              <div class="post-preview">{{ post.content | strip_html | truncatewords:50 }}</div>
            </div>
          </a>
        {% endfor %}
        </div>
        {% include sidebar.html %}
      </div>
    </div>
  </body>
</html>
